body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "vazir" !important;
}
@font-face {
  font-family: "vazir";
  src: url("assets/fonts/vazir.ttf");
}
::selection {
  color: #fff;
  background: #1890ff;
}
